:root {
  --header-height: 5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space; */
  width: 100vw;
  height: 100vh;
}

.HomePage, .EmployeePage {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  height: 100%;
}
.HomePage *, .EmployeePage * {
  width: 100%;
}

.HomeHeader, .EmployeeHeader, .SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  width: 100%;
}

.EmployeeList {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 4px rgb(197, 0, 197) solid;
}

.header {
  box-sizing: border-box;
  border: 4px lightskyblue solid;
}

.SearchBar {
  box-sizing: border-box;
  border: 4px green solid;
}

.EmployeeListItem {
  box-sizing: border-box;
  border: 4px red solid;
  margin: 2px;
}

.EmployeePage {
  box-sizing: border-box;
  border: 4px gray solid;
}